{% extends "base.html" %}

{% block content %}
    <div class="header">
        <h1>Список автомобилей</h1>
        <div class="auth-links" style="float: right;">
            {% if user.is_authenticated %}
                <span>Привет, {{ user.username }}!</span>
                <a href="{% url 'logout' %}">Выйти</a>
            {% else %}
                <a href="{% url 'login' %}">Войти</a>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
            <a href="{% url 'car_create_page' %}">Добавить новый автомобиль</a>
        {% endif %}
    </div>

    <ul>
        {% for car in cars %}
            {% if car.id %}
                <li>
                    <h2>
                        <a href="{% url 'car_detail_page' car.id %}">{{ car.make }} {{ car.model }}</a>
                        {% if car.owner == user %}  <!-- Проверка на владельца -->
                            <span style="color: green;">(Ваш автомобиль)</span>
                        {% endif %}
                    </h2>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}
